
body{
  background-color: black;
}



.cars{
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  gap:1rem;
  justify-content: center;
}

.car{
  position: relative;
  transition-duration: 800ms;
  border-radius: 9px;
  width: 250px;
  height: 500px;
  background-color: white;
}
.car:hover{
  background-color: #3A3845;
  color: #F7CCAC;
  transform: scale(1.03);
}


.car1{

}
.car2{


}
.car3{

}
.image{
  border-radius: 9px 9px 0 0;
  width:250px;
  height: 220px;
  object-fit: cover;
}
.button{
  transition-duration: 800ms;
  text-decoration: none;
  position: absolute;
  bottom: 8px;
  font-size: 17px;
  padding: 10px 20px;
  text-align: center;
  background-color: black;
  color:white;
  border-color: black;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}
.button:hover{
  color: black;
  background-color: white;
}
.box{
  display: flex;
  padding-bottom: 5px;
  justify-content: center;
  align-items: center;
}
p{
  padding: 5px 8px 5px 8px;
}
h1{
  font-size: 25px;
  padding-left: 5px;
}
@media (max-width:900px) {
  .cars{
    flex-direction: column;
  }
}
